#top-photo {
  background-image: url(../img/students.jpg);
  text-align: center;
  color: white;
  padding-bottom: 190px;
  background-size: 1400px;
  background-repeat: no-repeat;
}

#top-photo h1 {
  font-size: 4em;
  font-weight: 200;
  padding-top: 250px;
  letter-spacing: .05em;
}

#header img {
  width: 200px;
  margin: 20px 50px 5px 120px;
}

#links {
  width: 50%;
  float: right;
  word-spacing: 2em;
  margin-top: 70px;
  margin-left: 100px;
  color: #8b93a0;
  letter-spacing: 0.05em;
}

a:link {
  color: #8b93a0;
}

a:visited {
  color: #8b93a0;
}

h2 {
  color: #00b3b4;
  font-weight: 200;
  letter-spacing: 0.02em;
}

.btn {
  background-color: #00b3b4;
  letter-spacing: 0.05em;
}

#apply {
  float: right;
  margin-top: 60px;
  margin-right: 80px;
  margin-left: 0px;
  border: none;
  padding: 10px 20px 10px 20px;
  letter-spacing: .05em;
}

button#suggest {
  color: white;
  padding: 10px 10px 10px 10px;
}

#rightside h2 {
  padding-bottom: 20px;
}

.form-group {
  margin-bottom: 30px;
}

#complete {
  margin-top: 30px;
}

div #yourtrack {
  height: 500px;
  width: 40%;
  padding: 50px 70px 50px 70px;
  border-style: solid;
  border-color: #00b3b4;
  border-width: medium;
  float: right;
  border-radius: 30px;
  margin-top: 20px;
}

#yourtrack p {
  font-size: 2.5em;
  padding-top: 25px;
}

#yourtrack img {
  max-width: 30%;
  padding-left: 20px;
  align-items: center;
}

#output {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

#rightside {
  width: 55%;
}

body {
  padding-bottom: 100px;
}
